# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials & API Keys (DO NOT COMMIT)
credentials/*.json
credentials/*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Frontend / Node
node_modules/
.npm
npm-debug.log*

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
